
  <main data-ng-cloak data-ng-init="userctrl.getUser()" data-ng-controller="UserController as userctrl">
    <ul>
      <li data-ng-repeat="user in userctrl.user">{{user.name}}
        <button class="btn" data-ng-click="userctrl.removeUser(user)">Delete</button>
        <button class="btn" data-ng-click="showme=true">Edit</button>
          <form data-ng-submit="userctrl.updateUser(newUser, $index)" ng-show="showme">
            <input type="text" data-ng-model="newUser"/>
            <button class="btn" data-ng-click="showme=false" type="submit">Update</button>
          </form>
          <button class="btn" ng-show="showme" data-ng-click="showme=false">Cancel</button>
      </li>
    </ul>
    <form data-ng-submit="userctrl.createUser(newUser)">
      <forminput></forminput>
      <button class="btn" type="submit">New User</button>
    </form>
  </main>
